<app-message></app-message>
<header class="header">
  <div class="header__inner">
    <div class="header__top">
      <div class="header__container">
        <div class="header__logo">
          <img src="/images/logo-rumtibet.svg" alt="Логотип компаний Румтибет">
          <span class="company-name">{{ companyName }}</span>
        </div>
        <nav class="header__nav">
          @for (page of pages; track page.id) {
            <a 
              [routerLink]="page.path"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }" 
              class="link"
              [id]="page.id"
            >
              {{ page.page }}
            </a>
          } @empty {
            <span>Навигация - пусто!</span>
          }
        </nav>
        <div class="header__btn">
          <button
            class="btn btn-consultation" 
            id="btn-consultation"
            (click)="messageService.showSuccess(messageType.SUCCESS, 'Message Content')"
          >
            Консультация
          </button>
        </div>
      </div>
      @if (currentTask === 'counter') {
        <div class="header__timer">
          <span class="timer">{{ dateTime }}</span>
          <button class="btn btn-show-clicker" (click)="setCurrentTask('dateTime')">Показать кликер</button>
        </div>
      } @else {
        <div class="header__clicker">
          <div class="clicker-container">
            <button class="btn-plus" (click)="incrementCounter()">+</button>
            <span class="current-account">{{ counter }}</span>
            <button class="btn-minus" (click)="decrementCounter()" [disabled]="counter <= 0">-</button>
          </div>
          <button class="btn btn-show-date" (click)="setCurrentTask('counter')">Показать дату</button>
        </div>
      }
    </div>
    <div class="header__bottom">
      <div class="header__title">
        <h1 class="heading">Насладись прогулкой в горах с&nbsp;командой единомышленников</h1>
      </div>
      <div class="bottom-container">
        <div class="location-tour">
          <div class="location-tour__container">
            @if (!selectedLocation) {
              <span class="location-tour__before-choice">Локация для тура</span>
            } @else {
              <span class="location-tour__before-choice">{{ selectedLocation }}</span>
            }
            <img class="caret-down-icon" src="/images/caret-down-icon.svg" alt="иконка косая стрелка">
            <select class="list-locations" [(ngModel)]="selectedLocation">
              @if (!selectedLocation) {
              } @else {
                <option selected disabled hidden>{{ selectedLocation }}</option>
              }
              @for (location of locations; track location.id) {
                <option [value]="location.name">{{ location.name }}</option>
              } @empty {
                <span>Не удалось отобразить список локаций!</span>
              }
            </select>
          </div>
          <span class="location-tour__desc">выберите из списка</span>
        </div>
        <div class="date-hike">
          <div class="date-hike__container">
            @if (!selectedDate) {
              <span>дд.мм.гггг</span>
            } @else {
              <span>{{ selectedDate }}</span>
            }
            <img class="date-hike__icon" src="/images/calendar-icon.svg" alt="иконка календарь">
            <input class="date-hike__data" id="date-hike-data" type="date" [(ngModel)]="selectedDate">
          </div>
          <span class="date-hike__desc">укажите диапазон</span>
        </div>
        <div class="participants">
          <div class="participants__container">
            @if (!selectedParticipants) {
              <span class="participants__before-choice">Участники</span>
            } @else {
              <span class="participants__before-choice">{{ selectedParticipants }}</span>
            }
            <img class="caret-down-icon" src="/images/caret-down-icon.svg" alt="иконка косая стрелка">
            <select class="number-participants" [(ngModel)]="selectedParticipants">
              @for (participant of participants; track participant.id) {
                <option [value]="participant.name">{{ participant.name }}</option>
              } @empty {
                <span>Не удалось отобразить список участников!</span>
              }
            </select>
          </div>
          <span class="participants__desc">выберите из списка</span>
        </div>
          <div class="find-program"[class.find-program__disabled]="!isFormValid()">
            <button 
              class="btn find-program__btn"
              [class.find-program__disabled-btn]="!isFormValid()"
              id="find-program-btn"
              [disabled]="!isFormValid()"
              (click)="messageService.showInfo(messageType.INFO, 'Message Content')"
            >
              Найти программу
            </button>
        </div>
      </div>
      <div class="header__live-input">
        <input class="live-input" id="live-input" type="text" [(ngModel)]="liveInputValue" maxlength="15">
        <img class="caret-down" src="/images/caret-down-icon.svg" alt="иконка косая стрелка">
        <span>{{ liveInputValue }}</span>
      </div>
    </div>
  </div>
</header>