<form class="form__wrapper" [formGroup]="userForm">
  <div class="form__title">
    <h2 class="form__heading">Создать пользователя</h2>
  </div>
  <div class="form__section user-info">
    <div class="form__columns">
      <div class="form__column">
        <div class="form__group">
          <label class="form__label" for="name">Имя *</label>
          <input 
            class="form__input"
            id="name"
            type="text"
            formControlName="name"  
            placeholder="Введите имя (2-100 символов)" 
          />
        </div>
      </div>
      <div class="form__column">
        <div class="form__group">
          <label class="form__label" for="username">Юзернейм *</label>
          <input 
            class="form__input"
            id="username"  
            type="text"
            formControlName="username"  
            placeholder="Введите юзернейм (3-30 символов)"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="form__section contact">
    <h3 class="form__section-title">Контакты</h3>
    <div class="form__columns">
      <div class="form__column">
        <div class="form__group">
          <label class="form__label" for="email">Эл. почта *</label>
          <input 
            class="form__input"
            id="email" 
            type="email"
            formControlName="email"  
            placeholder="example@email.com" 
          />
        </div>
      </div>
      <div class="form__divider"></div>
      <div class="form__column">
        <div class="form__group">
          <label class="form__label" for="phone">Телефон *</label>
          <input 
            class="form__input"
            id="phone"  
            type="tel"
            formControlName="phone"  
            placeholder="Введите номер (10-25 символов)"  
          />
        </div>
      </div>
      <div class="form__divider"></div>
      <div class="form__column">
        <div class="form__group">
          <label class="form__label" for="website">Веб-сайт</label>
          <input 
            class="form__input"
            id="website"  
            type="url"
            formControlName="website"  
            placeholder="example.com"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="form__section address" formGroupName="address">
    <h3 class="form__section-title">Адрес Проживания</h3>
    <div class="form__columns">
      <div class="form__column">
        <div class="form__group">
          <label class="form__label" for="city">Город *</label>
          <input 
            class="form__input"
            id="city"  
            type="text"
            formControlName="city"  
            placeholder="Введите город (макс. 50)" 
          />
        </div>
      </div>
      <div class="form__divider"></div>
      <div class="form__column">
        <div class="form__group">
          <label class="form__label" for="street">Улица *</label>
          <input 
            class="form__input"
            id="street"  
            type="text"
            formControlName="street"  
            placeholder="Введите улицу (макс. 100)"
          />
        </div>
      </div>
      <div class="form__divider"></div>
      <div class="form__column">
        <div class="form__group">
          <label class="form__label" for="suite">Офис</label>
          <input 
            class="form__input"
            id="suite"  
            type="text"
            formControlName="suite"  
            placeholder="Введите офис (макс. 50)"  
          />
        </div>
      </div>
    </div>
    <div class="form__columns">
      <div class="form__column">
        <div class="form__group">
          <label class="form__label" for="zipcode">Индекс *</label>
          <input 
            class="form__input"
            id="zipcode"  
            type="text"
            formControlName="zipcode"  
            placeholder="Почтовый индекс (5-10)"  
          />
        </div>
      </div>
      <div class="form__divider"></div>
      <div class="form__column" formGroupName="geo">
        <div class="form__group">
          <label class="form__label" for="lat">Широта *</label>
          <input 
            class="form__input"
            id="lat"  
            type="number"
            formControlName="lat" 
            placeholder="От 30 до 90"  
          />
        </div>
      </div>
      <div class="form__divider"></div>
      <div class="form__column" formGroupName="geo">
        <div class="form__group">
          <label class="form__label" for="lng">Долгота *</label>
          <input 
            class="form__input"
            id="lng"  
            type="number"
            formControlName="lng" 
            placeholder="От 60 до 180"  
          />
        </div>
      </div>
    </div>
  </div>
  <div class="form__section company">
    <h3 class="form__section-title">Компания</h3>
    <div class="form__columns" formGroupName="company">
      <div class="form__column">
        <div class="form__group">
          <label class="form__label" for="company-name">Название *</label>
          <input 
            class="form__input"
            id="company-name" 
            type="text"
            formControlName="name"
            placeholder="Название компании (макс. 50)"   
          />
        </div>
      </div>
      <div class="form__divider"></div>
      <div class="form__column">
        <div class="form__group">
          <label class="form__label" for="catchphrase">Слоган</label>
          <input 
            class="form__input"
            id="catchphrase"  
            type="text"
            formControlName="catchPhrase" 
            placeholder="Слоган компании (макс. 200)"   
          />
        </div>
      </div>
      <div class="form__divider"></div>
      <div class="form__column">
        <div class="form__group">
          <label class="form__label" for="bs">Обслуживание</label>
          <input 
            class="form__input"
            id="bs"  
            type="text"
            formControlName="bs" 
            placeholder="Тип обслуживания (макс. 100)"  
          />
        </div>
      </div>
    </div>
  </div>
  <button 
    class="form__button" 
    type="submit" 
    (click)="submitUserForm()"
  >
    Создать пользователя
  </button>
</form>