.live-input {
  width: 100%;
  padding: 12px 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  font-family: "Nunito Sans", sans-serif;
  color: #1D3939;
  background-color: #FFFFFF;
  border: 2px solid #E2E8F0;
  border-radius: 4px;
  transition: all 0.3s ease;
}