<div class="hw-panel change-detection-panel">
  <div class="status">
    <div class="count">{{ 'homework.counter' | translate }} <span class="value">{{ count }}</span></div>
  </div>

  <div class="controls">
    <button class="btn" (click)="eventClick()">{{ 'homework.change1' | translate }}</button>
    <button class="btn" (click)="setTimeout()">{{ 'homework.change2' | translate }}</button>
    <button class="btn" (click)="promise()">{{ 'homework.change3' | translate }}</button>
    <button class="btn" (click)="setInterval()">{{ 'homework.change4' | translate }}</button>
  </div>
</div>