@use '../assets/mixins' as mix;

.loading {
  @include mix.flex(center, center, nowrap);
  
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: var(--primary-color);
  
  &__content {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0); }
  }
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}