@use '../assets/mixins' as mix;

.box-message {
  position: absolute;
  top: 7px;
  right: 7px;
  height: 400px;
}

.loading {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  
  &__content {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0); }
  }
}

.box-message {
  @include mix.flex(start, start, nowrap);

  position: fixed;
  top: 7px;
  right: 7px;
  row-gap: 7px;
  flex-direction: column;
}

.message {
  @include mix.flex(start, center, wrap);

  position: relative;
  column-gap: 15px;
  padding: 15px;
  width: 350px;
  height: 70px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  background-color: #0F172A99;
  z-index: 1;
}

.message__title, .message__desc {
  color: var(--primary-color);
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: 700;
}

.message__desc {
  font-size: 14px;
  font-weight: 400;
}

.close-button {
  position: absolute;
  top: 7px;
  right: 7px;
  cursor: pointer;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.header {
  min-width: 1920px;
  min-height: 985px;
  font-family: "Nunito Sans";
  background-image: url("/images/bg-rumtibet.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--primary-color);
  
  .d-flex {
    @include mix.flex(start, center, wrap);
    
    row-gap: 520px;
  }
  
  &__container {
    max-width: 1180px;
    margin: 0 auto;
  }
  
  &__top {
    @include mix.flex(space-between, center, nowrap);
    
    position: relative;
    max-width: 1180px;
    height: 4.5rem;
    padding-top: 16px;
    margin: 0 auto;
    
    .company-name {
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 7px;
    }
    
    .link, .btn-consultation {
      font-weight: 600;
      font-size: 18px;
    }

    .btn-consultation {
      font-family: inherit;
      padding: 12px 24px;
      border-radius: 4px;
      margin-left: 38px;
      color: var(--primary-color);
      background-color: var(--additional-color);
    }
  }

  &__nav {
    @include mix.flex(space-between, center, nowrap);
    
    width: 831px;
    height: 44px;
    column-gap: 24px;
  }

  &__clicker, &__timer {
    @include mix.flex(space-between, center, nowrap);
    
    width: 270px;
    position: absolute;
    bottom: -65px;
    right: 0px;
  }

  &__timer {
    @include mix.flex(space-between, center, nowrap);
    
    width: 375px;
  }

   &__clicker {
    display: flex;
  }

  .clicker-container {
    @include mix.flex(space-between, center, nowrap);
    
    column-gap: 15.75px;
      
    .btn-minus {
      transform: translateY(-2px);
    }  
  }
  
  .btn-minus, 
  .current-account, 
  .btn-plus, 
  .timer, 
  .btn-show-clicker
  .btn-show-date {
    font-weight: 600;
    font-size: 18px;
  }
  
  .btn-show-clicker {
    padding: 12px 11px;
  }

  .btn-show-date {
    padding: 12px 22px;
  }
  
  &__bottom {
    max-width: 1180px;
    margin: 0 auto;

    .list-locations, .number-participants {
      width: 240px;
      font-family: inherit;
      font-size: inherit;
      outline: none;
      opacity: 0;
    }

    .date-hike__icon {
      position: absolute;
      top: 32%;
      right: 6.5%;
    }
    
    .date-hike__data {
      opacity: 0;
      width: 19px;
    }
  }

  &__title {
    font-family: "NEXT ART";
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 41px;
  }
  
  .bottom-container {
    @include mix.flex(space-between, center, nowrap);
    
    column-gap: 24px;
    height: 171px;
    padding: 0 42px;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    background-color: #FFFFFF33;
  }

  .location-tour, .date-hike, .participants, .find-program {
    width: 270px;
    height: 52px;
    border-radius: 4px;
    margin-bottom: 35px;
  }

  .location-tour__container, 
  .date-hike__container, 
  .participants__container {
    @include mix.flex(space-between, center, nowrap);
    
    position: relative;
    padding: 14px 16px;
    height: 52px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    cursor: pointer;
  }

  .location-tour__desc, .date-hike__desc, .participants__desc {
    display: block;
    padding-top: 8px;
  }

  .location-tour__before-choice, .participants__before-choice {
    position: absolute;
    top: 15px;
    left: 20px;
  }

  .caret-down-icon {
    position: absolute;
    top: 23px;
    right: 19px;
  }

  .find-program {
    max-width: 213px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    background-color: var(--primary-color);
    
    &__disabled {
      background-color: #333;
      transform: 1s;
    }

    &__btn {
      background-color: var(--primary-color);
      color: var(--additional-color);
    }

    &__disabled-btn {
      background-color: #333333;
      color: #918d8d;
      transform: 1s;
    }
  }
}

.header__live-input {
  @include mix.flex(start, center, nowrap);
  
  gap: 50px;
  position: relative;
  width: 470px;
  margin: 15px 0;
}

.live-input {
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  width: 270px;
  padding: 14px 12px;
  font-family: inherit;
  font-size: inherit;
}

.caret-down {
  position: absolute;
  top: 20px;
  right: 215px;
  transform: rotate(270deg);
  cursor: pointer;
}

.main {
  font-family: "Nunito Sans";
  padding: 100px 0 100px 0;
  color: var(--secondary-color);
  
  .container {
    @include mix.flex(space-between, center, nowrap);
    
    max-width: 1180px;
    margin: 0 auto;
    column-gap: 90px;
  }
}

.our-approach {
  @include mix.flex(space-between, center, nowrap);
  
  position: relative;
  min-height: 526px;
  margin-bottom: 100px;
  
  &__showreel {
    position: relative;
    width: 600px;
    height: 526px;
  }
  
  .showreel-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 350px;
    height: 400px;
  }
}

.img-play-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.our-approach__content {
  max-width: 580px;
}

.our-approach__title {
  margin: 8px 0 40px 0;
}

.our-approach__desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 40px;
}

.our-approach__btn {
  height: 200px;
  height: 52px;
  padding: 16px 36px;
}

.our-offer {
  @include mix.flex(space-between, start, nowrap);

  background-color: var(--light-gray-color);
  padding: 80px 0 100px 0;
}

.our-offer__content, .our-offer__desc {
  max-width: 580px;
}

.our-offer__desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.our-offer__title {
 margin: 8px 0 40px 0; 
}

.item-img {
  margin-right: 16px;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  padding: 7px;
  transition: .5s;
}

.expert-guide__animated-bg:hover {
  transition: .5s;
  background: #e5eeeb;
}

.safe-passage__animated-bg:hover {
  transition: .5s;
  background: #e3e6ee;
}

.loyal-prices__animated-bg:hover {
  transition: .5s;
  background: #f3f1e1;
}

.our-offer__item {
  @include mix.flex(start, center, nowrap);
  
  margin: 40px 0 40px 0;
}

.item__title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 4px;
}

.item__desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.item__content {
  width: 514px;
}

.our-offer__btn {
  padding: 16px 36px;
}

.our-offer__images {
  @include mix.flex(start, start, wrap);
  
  max-width: 510px;
  max-height: 510px;
  gap: 10px 10px;
  
  .img-participant {
    display: block;
  }
}

.popular-destinations__container, .travel-blog__container {
  display: block !important;
}

.popular-destinations__info, .travel-blog__info {
  text-align: center;
  padding: 85px 0 40px 0;
}

.popular-destinations__images {
  @include mix.flex(center, center, nowrap);

  margin-bottom: 50px;
  gap: 20px;
  
  .image-item {
    cursor: pointer;
  }
}

.popular-destinations__images-item {
  position: relative;
  width: 380px;
  height: 500px;
  overflow: hidden;
  border-radius: 30px;
}

.box-rating {
  @include mix.flex(center, center, nowrap);

  position: absolute;
  top: 50px;
  right: 0;
  gap: 7px;
  width: 65px;
  height: 32px;
  background-color: #FFFFFF4D;
  cursor: pointer;

  &__star, &__desc {
    display: block;
  }

  &__desc {
    font-size: 14px;
    font-weight: 700;
    color: var(--additional-color);
  }  
}

.box-description {
  @include mix.flex(center, center, nowrap);

  position: absolute;
  bottom: 0;
  gap: 35px;
  width: 380px;
  height: 90px;
  backdrop-filter: blur(2px);
  background-color: #ebebeb38;

  .location__title {
    font-size: 24px;
    font-weight: 700;
    color: var(--primary-color);
  }

  .location__desc {
    font-size: 14px;
    font-weight: 400;
    color: var(--primary-color);
  }
}

.box-description__price {
  @include mix.flex(center, center, nowrap);

  background-color: #FFFFFF4D;
  width: 86px; 
  height: 40px;
  border-radius: 4px;

  .price-item {
    display: block;
    font-size: 20px;
    font-weight: 700px;
    color: var(--primary-color);
  }
}

.popular-destinations__referral-rating {
  text-align: center;  
}

.referral-rating__btn, .other-material__btn {
  padding: 16px 36px;
  font-weight: 600;
}

.travel-blog {
  margin: 95px 0 85px 0;
  background-color: var(--light-gray-color);
}

.travel-blog__article {
  @include mix.flex(start, start, wrap);

  gap: 20px;
}

.article-holder {
  @include mix.flex(center, center, nowrap);
  
  column-gap: 24px;
  width: 580px;
  height: 320px;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 0 15px 0 #18121E1F;
  background-color: var(--primary-color);
}

.article-holder__content {
  @include mix.flex(space-between, start, nowrap);
  
  flex-direction: column;
  width: 294px;
  height: 280px;
  padding: 16px 0 16px 0;
  
  &-item {
    @include mix.flex(start, start, nowrap);
  
    flex-direction: column;
    row-gap: 24px;
  }
  
  &-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    cursor: pointer;
  }

  &-title:hover {
    color: var(--additional-color);
    text-decoration: underline;
  }
  
  &-desc {
    max-height: 100px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    overflow-y: hidden;
  }
}

.article-holder__info {
  @include mix.flex(space-between, start, nowrap);

  width: 100%;

  .info-article {
    color: var(--additional-color);
    cursor: pointer;
  }
}

.info-date, .info-article {
  color: var(--gold-color);
  font-weight: 700;
  font-size: 14px;
}

.travel-blog__other-material {
  @include mix.flex(center, start, nowrap);

  padding: 50px 0 85px 0;
}