<header class="header">
  <div class="container d-flex">
    <div class="header__top">
      <div class="header__logo">
        <img src="/images/logo-rumtibet.svg" alt="Логотип компаний Румтибет">
        <span class="company-name">{{ nameCompany }}</span>
      </div>
      <nav class="header__nav">
        <a href="#" class="link">Главная</a>
        <a href="#" class="link">Про гида</a>
        <a href="#" class="link">Программа тура</a>
        <a href="#" class="link">Стоимость</a>
        <a href="#" class="link">Блог</a>
        <a href="#" class="link">Контакты</a>
      </nav>
      <div class="header__btn">
        <button class="btn-consultation">Консультация</button>
      </div>
    </div>
    
    <div class="header__bottom">
      <div class="header__title">
        <h1>Насладись прогулкой в горах с командой единомышленников</h1>
      </div>
      <div class="bottom-container">
        <div class="location-for-tour">
          <div class="location-for-tour__item">
            <span>Локация для тура</span>
            <img class="location-for-tour__img" src="/images/expand.svg" alt="Иконка стрелка вниз">
          </div>
          <span class="location-for-tour__desc">выберите из списка</span>
        </div>
        <div class="date-of-hike">
          <div class="date-of-hike__item">
            <span>Дата похода</span>
            <img class="date-of-hike__img" src="/images/formkit-date.svg" alt="Иконка блокнот с датами">
          </div>
          <span class="date-of-hike__desc">укажите диапазон</span>
        </div>
        <div class="participants">
          <div class="participants__item">
            <span>Участники</span>
            <img class="participants__img" src="/images/expand.svg" alt="Иконка стрелка вниз">
          </div>
          <span class="participants__desc">минимум 4 человека</span>
        </div>
        <div class="find-program">
          <button class="find-program__btn">Найти программу</button>
        </div>
      </div>
    </div>
  </div>
</header>