@use '../assets/mixins' as mix;

.main {
  font-family: "Nunito Sans";
  color: var(--secondary-color);
}

.tour-program {
  @include mix.flex(start, flex-end, nowrap);

  min-height: 865px;
  margin-bottom: 100px;
  background-image: url("/images/bg-rumtibet.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--primary-color);
    
  .tour-program__wrapper {
    max-width: 1180px;
    margin: 0 auto;

    .list-locations, .number-participants {
      width: 240px;
      font-family: inherit;
      font-size: inherit;
      outline: none;
      opacity: 0;
    }

    .date-hike__icon {
      position: absolute;
      top: 32%;
      right: 6.5%;
    }

    .date-hike__data {
      opacity: 0;
      width: 19px;
    }
  }

  .tour-program__title {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 41px;

    .heading {
      font-family: "NEXT ART";
    }
  }

  .header__live-input {
    @include mix.flex(start, center, nowrap);

    gap: 50px;
    position: relative;
    width: 470px;
    margin: 15px 0;
  }

  .location-tour__container, 
  .date-hike__container, 
  .participants__container {
    @include mix.flex(space-between, center, nowrap);

    position: relative;
    padding: 14px 16px;
    height: 52px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    cursor: pointer;
  }

  .location-tour__desc, .date-hike__desc, .participants__desc {
    display: block;
    padding-top: 8px;
  }

  .location-tour__before-choice, .participants__before-choice {
    position: absolute;
    top: 15px;
    left: 20px;
  }

  .caret-down-icon {
    position: absolute;
    top: 23px;
    right: 19px;
  }

  .find-program {
    max-width: 213px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    background-color: var(--additional-color);

    &__disabled {
      background-color: #333333;
      transform: 1s;
    }

    &__btn {
      background-color: var(--additional-color);
      color: var(--primary-color);
    }

    &__disabled-btn {
      background-color: #333333;
      color: #918d8d;
      transform: 1s;
    }
  }

  .bottom-container {
    @include mix.flex(space-between, center, nowrap);

    column-gap: 24px;
    height: 171px;
    padding: 0 42px;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    background-color: #FFFFFF33;
  }

  .live-input {
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    width: 270px;
    padding: 14px 12px;
    font-family: inherit;
    font-size: inherit;
  }

  .caret-down {
    position: absolute;
    top: 20px;
    right: 215px;
    transform: rotate(270deg);
    cursor: pointer;
  }

  .location-tour, .date-hike, .participants, .find-program {
    width: 270px;
    height: 52px;
    border-radius: 4px;
    margin-bottom: 35px;
  }
}

.our-approach {
  @include mix.flex(space-between, center, nowrap);
  
  position: relative;
  min-height: 526px;
  margin-bottom: 100px;
  
  &__showreel {
    position: relative;
    width: 600px;
    height: 526px;
  }
  
  .showreel-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 350px;
    height: 400px;
  }
}

.img-play-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.our-approach__content {
  max-width: 580px;
}

.our-approach__title {
  margin: 8px 0 40px 0;
}

.our-approach__desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 40px;
}

.our-approach__btn {
  height: 200px;
  height: 52px;
  padding: 16px 36px;
}

.our-offer {
  @include mix.flex(space-between, start, nowrap);

  background-color: var(--light-gray-color);
  padding: 80px 0 100px 0;
}

.our-offer__content, .our-offer__desc {
  max-width: 580px;
}

.our-offer__desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.our-offer__title {
 margin: 8px 0 40px 0; 
}

.item-img {
  margin-right: 16px;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  padding: 7px;
  transition: .5s;
}

.expert-guide__animated-bg:hover {
  transition: .5s;
  background: #e5eeeb;
}

.safe-passage__animated-bg:hover {
  transition: .5s;
  background: #e3e6ee;
}

.loyal-prices__animated-bg:hover {
  transition: .5s;
  background: #f3f1e1;
}

.our-offer__item {
  @include mix.flex(start, center, nowrap);
  
  margin: 40px 0 40px 0;
}

.item__title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 4px;
}

.item__desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.item__content {
  width: 514px;
}

.our-offer__btn {
  padding: 16px 36px;
}

.our-offer__images {
  @include mix.flex(start, start, wrap);
  
  max-width: 510px;
  max-height: 510px;
  gap: 10px 10px;
  
  .img-participant {
    display: block;
  }
}

.popular-destinations__container, 
.travel-blog__container, 
.share-impressions__container {
  display: block !important;
}

.popular-destinations__info, .travel-blog__info {
  text-align: center;
  padding: 85px 0 40px 0;
}

.popular-destinations__images {
  @include mix.flex(center, center, nowrap);

  margin-bottom: 50px;
  gap: 20px;
  
  .image-item {
    cursor: pointer;
  }
}

.popular-destinations__images-item {
  position: relative;
  width: 380px;
  height: 500px;
  overflow: hidden;
  border-radius: 30px;
}

.box-rating {
  @include mix.flex(center, center, nowrap);

  position: absolute;
  top: 50px;
  right: 0;
  gap: 7px;
  width: 65px;
  height: 32px;
  background-color: #FFFFFF4D;
  cursor: pointer;

  &__star, &__desc {
    display: block;
  }

  &__desc {
    font-size: 14px;
    font-weight: 700;
    color: var(--additional-color);
  }  
}

.box-description {
  @include mix.flex(center, center, nowrap);

  position: absolute;
  bottom: 0;
  gap: 35px;
  width: 380px;
  height: 90px;
  backdrop-filter: blur(2px);
  background-color: #ebebeb38;

  .location__title {
    font-size: 24px;
    font-weight: 700;
    color: var(--primary-color);
  }

  .location__desc {
    font-size: 14px;
    font-weight: 400;
    color: var(--primary-color);
  }
}

.box-description__price {
  @include mix.flex(center, center, nowrap);

  background-color: #FFFFFF4D;
  width: 86px; 
  height: 40px;
  border-radius: 4px;

  .price-item {
    display: block;
    font-size: 20px;
    font-weight: 700px;
    color: var(--primary-color);
  }
}

.popular-destinations__referral-rating {
  text-align: center;  
}

.referral-rating__btn, .other-material__btn {
  padding: 16px 36px;
  font-weight: 600;
}

.travel-blog {
  margin: 95px 0 85px 0;
  background-color: var(--light-gray-color);
}

.travel-blog__article {
  @include mix.flex(start, start, wrap);

  gap: 20px;
}

.article-holder {
  @include mix.flex(center, center, nowrap);
  
  column-gap: 24px;
  width: 580px;
  height: 320px;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 0 15px 0 #18121E1F;
  background-color: var(--primary-color);
}

.article-holder__content {
  @include mix.flex(space-between, start, nowrap);
  
  flex-direction: column;
  width: 294px;
  height: 280px;
  padding: 16px 0 16px 0;
  
  &-item {
    @include mix.flex(start, start, nowrap);
  
    flex-direction: column;
    row-gap: 24px;
  }
  
  &-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    cursor: pointer;
  }

  &-title:hover {
    color: var(--additional-color);
    text-decoration: underline;
  }
  
  &-desc {
    max-height: 100px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    overflow-y: hidden;
  }
}

.article-holder__info {
  @include mix.flex(space-between, start, nowrap);

  width: 100%;

  .info-article {
    color: var(--additional-color);
    cursor: pointer;
  }
}

.info-date, .info-article {
  color: var(--gold-color);
  font-weight: 700;
  font-size: 14px;
}

.travel-blog__other-material {
  @include mix.flex(center, start, nowrap);

  padding: 50px 0 85px 0;
}

.share-impressions {
  margin-bottom: 202px;
}

.share-impressions__halileria {
  @include mix.flex(center, start, wrap);

  gap: 20px;
  margin: 40px 0 50px 0;
}

.share-impressions__info, .share-impressions__pinterest {
  text-align: center;
}