<div class="header__lang" role="tablist" aria-label="Language switcher">
  <span class="lang-item">
    <input
      type="radio" 
      name="app-lang" 
      id="lang-ru" 
      class="lang-radio"
      value="ru" 
      [checked]="(languageService.language$ | async) === 'ru'"
      (click)="languageService.changeLanguage($event.target.value)"
    >
    <label for="lang-ru" class="lang-btn" aria-pressed="true">RU</label>
  </span>
  <span class="lang-item">
    <input
      type="radio" 
      name="app-lang" 
      id="lang-en" 
      class="lang-radio"
      value="en" 
      [checked]="(languageService.language$ | async) === 'en'"
      (click)="languageService.changeLanguage($event.target.value)"
    >
    <label for="lang-en" class="lang-btn">EN</label>
  </span>
  <span class="lang-item">
    <input
      type="radio" 
      name="app-lang" 
      id="lang-uz" 
      class="lang-radio"
      value="uz" 
      [checked]="(languageService.language$ | async) === 'uz'"
      (click)="languageService.changeLanguage($event.target.value)"
    >
    <label for="lang-uz" class="lang-btn">UZ</label>
  </span>
</div>