@font-face {
  font-family: "Nunito Sans";
  src: url("./fonts/nunitos-sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf") format('trueType');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("./fonts/nunitos-sans/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf") format('trueType');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NEXT ART";
    src: url("./fonts/next-art/NEXTART-Bold.woff2") format(woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NEXT ART";
  src: url("./fonts/next-art/NEXTART-Heavy.woff2") format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
