@use 'fonts';
@use 'mixins';
@use 'normalize';

:root {
  --primary-color: #FDFDFD;
  --secondary-color: #18121E;
  --additional-color: #1A3E3E;
  --light-gray-color: #f3f5f4;
  --gold-color: #f2be22;
}