@use 'fonts';
@use 'mixins' as mix;
@use 'normalize';

*, 
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans";
}

:root {
  --primary-color: #FDFDFD;
  --secondary-color: #18121E;
  --additional-color: #1A3E3E;
  --light-gray-color: #f3f5f4;
  --gold-color: #f2be22;
}

.container {
  @include mix.flex(space-between, center, nowrap);
    
  max-width: 1180px;
  margin: 0 auto;
  column-gap: 90px;
}

.btn {
  font-family: inherit;
  padding: 14px 37px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 4px;
  background-color: var(--additional-color);
  color: var(--primary-color);
}

.entry {
  font-size: 24px;
  font-weight: 400;
  color: var(--gold-color);
}

.title {
  font-size: 32px;
  font-weight: 800;
}