<form [formGroup]="createPostForm" class="post-create">
  <div class="post-create__header">
    <p class="post-create__label">{{ 'postsPage.create.newPost' | translate }}</p>
    <h1 class="post-create__title">{{ 'postsPage.create.createEntry' | translate }}</h1>
  </div>
  <div class="post-create__fields">
    <div class="post-create__field">
      <label for="title">{{ 'postsPage.create.title' | translate }}</label>
      <input formControlName="title" class="post-create__input" id="title" type="text"
        [placeholder]="'postsPage.create.titlePlaceholder' | translate" />
    </div>
    <div class="post-create__field post-create__field--wide">
      <label for="body">{{ 'postsPage.create.body' | translate }}</label>
      <input formControlName="body" class="post-create__input" id="body" type="text"
        [placeholder]="'postsPage.create.bodyPlaceholder' | translate" />
    </div>
    <div class="post-create__field">
      <label for="tags">{{ 'postsPage.create.tags' | translate }} <span>{{ 'postsPage.create.tagsHint' | translate
          }}</span></label>
      <input formControlName="tags" class="post-create__input" id="tags" type="text"
        [placeholder]="'postsPage.create.tagsPlaceholder' | translate" />
    </div>
  </div>
  <div formGroupName="reactions" class="post-create__stats post-create__stats--two">
    <div class="post-create__stat">
      <label for="likes">{{ 'postsPage.create.likes' | translate }}</label>
      <input formControlName="likes" class="post-create__input post-create__input--stat" id="likes" type="number"
        placeholder="0" min="0" />
    </div>
    <div class="post-create__stat">
      <label for="dislikes">{{ 'postsPage.create.dislikes' | translate }}</label>
      <input formControlName="dislikes" class="post-create__input post-create__input--stat" id="dislikes" type="number"
        placeholder="0" min="0" />
    </div>
  </div>
  <div class="post-create__stats post-create__stats--two">
    <div class="post-create__stat">
      <label for="views">{{ 'postsPage.create.views' | translate }}</label>
      <input formControlName="views" class="post-create__input post-create__input--stat" id="views" type="number"
        placeholder="0" min="0" />
    </div>
    <div class="post-create__stat">
      <label for="userId">{{ 'postsPage.create.author' | translate }}</label>
      <input formControlName="userId" class="post-create__input post-create__input--stat" id="userId" type="number"
        placeholder="0" min="0" />
    </div>
  </div>
  <div class="post-create__actions">
    <a class="post-create__back" routerLink="/posts">{{ 'postsPage.create.back' | translate }}</a>
    <button class="post-create__submit" type="button" (click)="onCreatePost()">{{ 'postsPage.create.save' | translate
      }}</button>
  </div>
</form>